<!DOCTYPE html>
<html>
<!--
Name: Type name(s) here
-->
<head>
  <meta charset="utf-8">
  <title>Offscreen test</title>
  <style>
      .overlayleft{
            position:absolute;
            float:left;
            color: white;  
            top: 130px; 
            left: 100px; 
        }
    body {margin-left: 200px; margin-right: 100px;}
  </style>
</head>
<body>
  <h1><strong></strong></h1>

  <!-- 1. The <iframe> (and video player) will replace this <div> tag.  -->
  <div id="game name"></div>
  <p>
    Description:
    <div id="description"> </div>
     <br>
     Metacritic score:
     <div id=meta

  </p>
  <script  src="results.js"></script>
</body>
</html>